{% extends 'admin/layout.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}
<div id="app">
<form class="transaction-form" method="POST" action="{{ site_url('admin/invoice/nonspk_save') }}">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card" style="width: 80%; margin: 0 auto !important;">
	            <div class="header">
	            	<h2>
	            		Form Pengisian Penjualan
	            	</h2>
	            </div>
	            <div class="body" style="padding: 15px">

	            	<div class="row clearfix">

	            		<div class="col-md-12">

	            			<table border="0" cellpadding="0" cellspacing="0" class="" style="width: 100%">
	            				<tr>
	            					<td>
	            						<label>Customer</label>
	            					</td>
	            					<td width="300">
	            						<div class="form-line">
											<input type="text" name="customer_name" class="form-control" value="{{ antrian_data.nama }}" readonly>
											<input type="hidden" name="customer_id" class="form-control" value="{{ antrian_data.customer_id }}" readonly>
            							</div>
	            					</td>
	            					<td width="200" rowspan="4" valign="top" style="padding-left: 10px;">

	            					</td>
	            					<td width="100" rowspan="4" valign="top">
	            						<div style="margin-left: -20px;">
		            						<label>Buffer</label>
		            						<br>
		            						<div class="form-line">
		            							<input class="form-control" type="text" style="width: 70px;">
		            						</div>
	            						</div>
	            					</td>
	            					<td>
		            					<label>Tgl. Jual</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text" name="tgl_jual" value="{{ "now"|date('Y-m-d') }}">
            							</div>
	            					</td>
	            				</tr>

	            				<tr>
	            					<td>
		            					<label>Nomor SPK</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text" name="no_spk">
            							</div>
		            				</td>
		            				<td>
	            						<label>Syarat Bayar</label>
	            					</td>
	            					<td>

            							<div class="form-line">
            								<select class="form-control" name="syarat_bayar">
            									<option>-Silahkan pilih-</option>
            									<option>Cash</option>
            									<option>Kredit</option>
            								</select>
            							</div>
		            				</td>
	            				</tr>

	            				<tr>
	            					<td>
		            					<label>Nomor Jual</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text" name="no_jual">
            							</div>
		            				</td>
		            				<td>
		            					<label>Stock</label>
		            				</td>
		            				<td>
            							<div class="form-line">
            								<input class="form-control" type="text" name="stock">
            							</div>
		            				</td>
	            				</tr>

	            				<tr>

		            				<td>
	            						<label>Tempo Hari</label>
	            					</td>
	            					<td>
            							<div class="form-line">
            								<input class="form-control" type="text" name="tempo_hari">
            							</div>
		            				</td>
		            				<td>
	            						<label>Jatuh Tempo</label>
	            					</td>
	            					<td>
            							<div class="form-line">
            								<input class="form-control" type="text" name="jatuh_tempo">
            							</div>
		            				</td>
	            				</tr>

	            			</table>




							<br>
							<div class="table-responsive">
							<table class="table table-bordered table-stripped table-hovered">
	            				<thead>
	            					<tr>
	            					<th>
	            						Kode
	            					</th>
	            					<th>
	            						Nama<br>Barang
	            					</th>
	            					<th>
	            						Ket
	            					</th>
	            					<th>
	            						Satuan
	            					</th>
	            					<th>
	            						Qty
	            					</th>
	            					<th>
	            						P
	            					</th>
	            					<th>
	            						L
	            					</th>
	            					<th>
	            						Harga
	            					</th>
	            					<th>
	            						Disc %
	            					</th>
	            					<th>
	            						Disc Rp
	            					</th>
	            					<th>
	            						Jumlah
	            					</th>

	            				</tr>
	            				</thead>

	            				<tbody>
									<template v-for="detail in details">
	            					<tr>
	            						<td><input style="width:50px;" class="form-control" type="text" name="kode[]" v-model="detail.kode"></td>
	            						<td><input style="width:100px;" class="form-control" type="text" name="nama_barang[]" v-model="detail.namaBarang"></td>
	            						<td><input style="width:100px;" class="form-control" type="text" name="keterangan[]" v-model="detail.keterangan"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="satuan[]" v-model="detail.satuan"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="qty[]" v-model="detail.qty"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="p[]" v-model="detail.p"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="l[]" v-model="detail.l"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="harga[]" v-model="detail.harga"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="disc[]" v-model="detail.disc"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="discrp[]" v-model="detail.discrp"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="jumlah[]" v-model="detail.jumlah"></td>
	            					</tr>
									</template>
									<tr>
	            						<td><input style="width:50px;" class="form-control" type="text" name="kode[]" v-model="detailHolder.kode"></td>
	            						<td><input style="width:100px;" class="form-control" type="text" name="nama_barang[]" v-model="detailHolder.namaBarang"></td>
	            						<td><input style="width:100px;" class="form-control" type="text" name="keterangan[]" v-model="detailHolder.keterangan"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="satuan[]" v-model="detailHolder.satuan"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="qty[]" v-model="detailHolder.qty"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="p[]" v-model="detailHolder.p"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="l[]" v-model="detailHolder.l"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="harga[]" v-model="detailHolder.harga"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="disc[]" v-model="detailHolder.disc"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="discrp[]" v-model="detailHolder.discrp"></td>
	            						<td><input style="width:50px;" class="form-control" type="text" name="jumlah[]" v-model="detailHolder.jumlah"></td>
	            					</tr>
									<tr>
										<td colspan="11"><a class="btn btn-primary" v-on:click="addDetail">Tambah Item</a></td>
									</tr>
								</tbody>
	            			</table>
						</div>
	            			<br>

	            			<table cellpadding="0" cellspacing="0" border="0" style="width: 100%">
	            				<tr>
	            					<td valign="top">
		            					<input type="submit" class="btn btn-primary" style="height: 60px;" value="Proses"/>
		            					<button class="btn btn-warning" style="height: 60px;">Tunda</button>
	            					</td>
	            					<td valign="top">
	            						<label>Keterangan</label>
	            						<br>
	            						<textarea name="keterangan_penjualan"></textarea>
	            					</td>
	            					<td>

	            					<table>
	            						<tr>
	            							<td>
	            								<label>Total</label>
	            							</td>
	            							<td style="padding-right: 20px;">
	            								<div class="form-line">
			            							<input class="form-control" name="total">
		            							</div>
	            							</td>
	            							<td>
	            								<label>Netto</label>
	            							</td>
	            							<td>
	            								<div class="form-line">
			            							<input class="form-control" name="netto">
		            							</div>
	            							</td>
	            						</tr>
	            						<tr>
	            							<td>
	            								<label>Discount</label>
	            							</td>
	            							<td style="padding-right: 20px;">
	            								<div class="form-line">
			            							<input class="form-control" name="discount">
		            							</div>
	            							</td>
	            							<td>
	            								<label>Bayar</label>
	            							</td>
	            							<td>
	            								<div class="form-line">
			            							<input class="form-control" name="bayar">
		            							</div>
	            							</td>
	            						</tr>
	            						<tr>
	            							<td>
	            								<label>Charge</label>
	            							</td>
	            							<td style="padding-right: 20px;">
	            								<div class="form-line">
			            							<input class="form-control" name="charge">
		            							</div>
	            							</td>
	            							<td>
	            								<label>Sisa</label>
	            							</td>
	            							<td>
	            								<div class="form-line">
			            							<input class="form-control" name="sisa">
		            							</div>
	            							</td>
	            						</tr>
	            					</table>

	            					</td>
	            				</tr>
	            			</table>

	            			<form>


	            			</form>


	            		</div>

	            	</div>

	            </div>
	        </div>
	    </div>
	 </div>
</form>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
	window.APP = new Vue({
		el: '#app',
		delimiters: ["<%","%>"],
		data: {
			detailHolder: {
				kode: '',
				namaBarang: '',
				keterangan: '',
				satuan: '',
				qty: '',
				p: '',
				l: '',
				harga: '',
				disc: '',
				discrp: '',
				jumlah: ''
			},
			details: []
		},
		methods: {
			addDetail: function() {
				this.details.push(this.detailHolder);
				this.detailHolder = [];
			}
		}
	});

	$("form").ajaxForm({
		dataType: 'json',
		success: function(response) {
			swal({
				title: 'Pemberitahuan',
				text: response.message
			});
		}
	});
	</script>
{% endblock %}
