{% extends 'admin/layout.html.twig' %}


{% block stylesheet %}
	{{ parent() }}

    <link href="{{ base_url('web/vendor/jqGrid/css/ui.jqgrid-bootstrap.css') }}" rel="stylesheet">
    <link href="{{ base_url('web/vendor/chosen/chosen.css') }}" rel="stylesheet">
    <style type="text/css">
		.ui-jqgrid tr.jqgrow td{
	        white-space: normal !important;
	    }

	    th.ui-th-column div {
		    white-space: normal !important;
		    height: auto !important;
		    padding: 2px;
		}

		.jqgrow.success.active {
			background: lightgreen !important;
		}

		input:focus, select:focus { 
		    outline: none !important;
		    border:3px solid blue !important;
		    box-shadow: 0 0 10px #719ECE !important;
		}

		.success td
		{
		    background-color:#00BCD4 !important;
		}

		div.chzn-container div.chzn-drop {
		  z-index: 999 !important;
		}

		.select2-search__field {
			color: #000 !important;
		}

		li.select2-selection__choice {
			color: #000 !important;
		}

		.ms-drop {
			position: relative !important;
			z-index: 999999999999 !important;
		}

		.jqgrow  td {
			position: relative !important;
			z-index: 1 !important;
		}

    </style>

{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card card-transaksi">
	            <div class="header">
	                <h2 style="float: left">
	                    Data SPK
	                </h2>
	                <!--
	                <button class="btn btn-default fullscreen-transaksi" style="float: right">
	            		Lihat Fullscreen
	            	</button>
	            	<button class="btn btn-default fullscreen-transaksi-exit" style="float: right; display:none;">
	            		Exit Fullscreen
	            	</button>
	            	-->
		            <div class="clearfix">&nbsp;</div>
	            </div>


	            <div class="body" style="overflow: auto; padding: 5px">

		            <div class="col-md-12 body-width">

		            	<br>
		            	<button class="btn btn-primary tambah-transaksi" data-header="{{ header_id }}">
		            		Tambah
		            	</button>

		            	&nbsp;
		            	<a class="btn btn-default" href="{{ site_url('admin/spk') }}">
		            		Ke Halaman Filter List
		            	</a>

		            	<!--
		            	<button class="btn btn-danger hapus-transaksi">
		            		Hapus
		            	</button>
						-->
		            	
		            	<br>

		            	<input class="header-id" type="hidden" value="{{ header_id }}">
		            	<input class="machine-id" type="hidden" value="{{ machine_id }}">

		            	<br>
		            	<br>

		            	<table class="list-spk table table-hovered" id="list2" cellpadding="0" cellspacing="0" style="width: 100%"></table>
						<div class="opr-spk" id="pager2" style="text-align:center;"></div>
		                
		                <!--<table class="table table-bordered table-striped table-transaksi">
		                	<thead>
		                		<tr>
									<th style="vertical-align: middle;">
										<center>
											<input id="basic_checkbox_2" class="filled-in parent-checkbox" type="checkbox">
											<label for="basic_checkbox_2">&nbsp;</label>
										</center>
									</th>
		                			<th style="vertical-align: middle;">No.</th>
									<th style="vertical-align: middle;">Tanggal</th>
									<th style="vertical-align: middle;">Shift</th>
									<th style="vertical-align: middle;">Section Id</th>
									<th style="vertical-align: middle;">Section Name</th>
									<th style="vertical-align: middle;">Mesin</th>
									<th style="vertical-align: middle;">Billet Id</th>
									<th style="vertical-align: middle;">Len (m)</th>
									<th style="vertical-align: middle;">Finishing</th>
									<th style="vertical-align: middle;">
										Target Prod <br>
										(Billet)
									</th>-->
									<!--<th style="vertical-align: middle;">Day</th>
									<th style="vertical-align: middle;">No. Lot</th>-->
									<!--<th style="vertical-align: middle;">Index Dice</th>
									<th style="vertical-align: middle;">Index Dice Qty</th>
									<th style="vertical-align: middle;">PPIC Note</th>
									<th style="vertical-align: middle;">
										Target Prod <br>
										(BTG)
									</th>
									<th style="vertical-align: middle;">
										Berat Std <br>
										(kg/m) 
									</th>
									<th style="vertical-align: middle;">
										Target Section <br>
										(kg)
									</th>-->
									<!--
									<th style="vertical-align: middle;">
										Total Target <br>
										(kg)
									</th>
									<th style="vertical-align: middle;">Die Type</th>
									-->
									<!--
									<th style="vertical-align: middle;">Pressure Time/Billet</th>
									<th style="vertical-align: middle;">EstStart</th>
									<th style="vertical-align: middle;">EstEnd</th>
									<th style="vertical-align: middle;">EstDiesPrep</th>
									--><!--
		                		</tr>
		                	</thead>
		                	<tbody>
		                	</tbody>
		                </table>-->
		            </div>

	            </div>
	        </div>
	    </div>
	 </div>
    

    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content content-modal-transaksi">
            
        </div>
    </div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('web/vendor/jqGrid/js/i18n/grid.locale-en.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('web/vendor/jqGrid/js/jquery.jqGrid.min.js') }}"></script>
	<script type="text/javascript" src="{{ base_url('web/vendor/chosen/chosen.jquery.js') }}"></script>


	<script type="text/javascript" src="{{ base_url('assets_app/js/transaction.js') }}"></script>
	<script type="text/javascript">
		//window.TRANSACTION.handleDatatable();
		//window.TRANSACTION.handleModal();
		
		window.TRANSACTION.handlejqGrid();
		window.TRANSACTION.handleDelete();
		window.TRANSACTION.handleAddRow();
		//window.TRANSACTION.handleFullscreen();
	</script>

{% endblock %}