{% extends 'admin/layout.html.twig' %}

{% block content_title %}
	
{% endblock %}

{% block content %}
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <div class="card card-spk" style="width: 80%; margin: 0 auto !important;">
	            <div class="header">
	                <h2>
	                    List Data SPK
	                </h2>
	            </div>


	            <div class="body" style="padding: 20px">

	            	<div class="row clearfix">


		            <div class="col-md-12">

        				<button class="btn btn-primary" data-toggle="modal" data-target="#defaultModal">
        					Filter
        				</button>

        				<a class="btn btn-primary" href="{{ site_url('admin/spk') }}">
        					Unfilter
        				</a>

        				<br>
        				<br>

		                <table class="table table-bordered table-striped table-spk">
		                	<thead>
		                		<tr>
		                			<th style="vertical-align: middle;">No.</th>
									<th style="vertical-align: middle;">MachineId</th>
									<th style="vertical-align: middle;">MachineTypeId</th>
									<th style="vertical-align: middle;">Week</th>
									<th style="vertical-align: middle;">Mulai Tanggal</th>
									<th style="vertical-align: middle;">Sampai Tanggal</th>
									<th style="vertical-align: middle;"></th>
		                	</thead>
		                	<tbody>
		                		{% if header_data %}
		                		{% for key, header_row in header_data %}
		                		{% set dtstart =  get_date_start_header(header_row.header_id, date_start, header_row.date_start) %}
		                		{% set dtfinish =  get_date_finish_header(header_row.header_id, date_finish, header_row.date_finish) %}
		                		<tr>
			                		<td>{{ key + 1 }}</td>
			                		<td>{{ header_row.machine_id }}</td>
			                		<td>{{ header_row.machine_type_id }}</td>
			                		<td>{{ header_row.week }}</td>
			                		<td>{{ header_row.date_start }}</td>
			                		<td>{{ header_row.date_finish }}</td>
			                		<td>
			                			<a class="btn btn-info" href="{{ site_url('admin/spk/cache_detail/' ~ header_row.header_id ~ '/' ~ date_to_time(dtstart) ~ '/' ~ date_to_time(dtfinish) ~ '/' ~ shift) }}">Lihat Detail</a>
			                		</td>
		                		</tr>
		                		{% endfor %}
		                		{% else %}
		                		<tr>
			                		<td colspan="6">Data tidak tersedia</td>
			                	</tr>
		                		{% endif %}
		                	</tbody>
		                </table>
		            </div>
		            </div>

	            </div>
	        </div>
	    </div>
	 </div>

	<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content content-modal-spk">
	        <div class="modal-header">
	        </div>
        	<div class="modal-body">

        		<div class="row clearfix">

        		<div class="col-md-12">

	        	<form action="{{ site_url('admin/spk/index') }}" method="post">
	        		<div class="form-group">
	        			<label>Machine</label>
		                    	
	                    <select class="form-control" name="machine">
	                        <option value="">-- Silahkan Pilih --</option>
	                        {% if machine_data %}

	                        	{% for machine_row in machine_data %}

	                        		<option value="{{ machine_row.MachineId }}" {% if same(machine_id, machine_row.MachineId) %} selected="selected" {% endif %}>
	                        			{{ machine_row.MachineId }}
	                        		</option>
	                        	{% endfor %}

	                        {% endif %}
	                    </select>	

	        		</div>

	        		<div class="form-group">

	        			<label>Week</label>
		                    	
	                    <select class="form-control week-options" name="week">
	                        <option value="">-- Silahkan Pilih --</option>
	                        {% if week_in_year() %}

	                        	{% for key, week_row in week_in_year() %}
	                        		{% set week_val = week_row['date_start'] ~ '-' ~ week_row['date_finish'] %}
	                        		<option value="{{ week_val }}" {% if same(week, week_val) %} selected="selected" {% endif %}>
	                        			{{ add_zero(key+1) ~ ' - ' ~ week_row['date_start'] ~ ' - ' ~ week_row['date_finish'] }}
	                        		</option>
	                        	{% endfor %}

	                        {% endif %}
	                    </select>

	                    <input class="report-date-start" name="date_start" type="hidden" value="{{ date_start }}">
	                    <input class="report-date-finish" name="date_finish" type="hidden" value="{{ date_finish }}">
	                    <input class="week-number form-control" type="hidden" name="week_number">
	                </div>

	                <div class="form-group">

	        			<label>Shift</label>
		                    	
	                    <select class="form-control" name="shift">
	                        <option value="0">-- Silahkan Pilih --</option>
	                        {% if shift_data %}

	                        	{% for shift_row in shift_data %}

	                        		<option value="{{ shift_row.ShiftNo }}" {% if same(shift, shift_row.ShiftNo) %} selected="selected" {% endif %}>
	                        			{{ shift_row.ShiftDescription }}
	                        		</option>
	                        	{% endfor %}

	                        {% endif %}
	                    </select>

	        		</div>


	        		<div class="form-group">
	        			<input class="btn btn-primary" value="Submit" type="submit">
	        		</div>
	        	</form>

	        	</div>
	        	</div>

	        </div>
	        </div>


        </div>
    </div>
   

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript" src="{{ base_url('assets_app/js/transaction.js') }}"></script>
	<script type="text/javascript">
		window.TRANSACTION.handleWeek();
		/*
		window.TRANSACTION.handleModal();
		window.TRANSACTION.handleDelete();
		window.TRANSACTION.handleAddRow();
		window.TRANSACTION.handleFullscreen();*/
	</script>

{% endblock %}